In [1]:
import pandas as pd

county_sales_csv = "resources/Cannabis_Sales_By_County.csv"
census_pop_csv = "resources/Census_pop.csv"
county_per_cap_income_csv = "resources/County Per capita income.csv"
city_coords_csv = "output/cityLatLong.csv"
store_coords_csv = "output/storelatlong.csv"
city_dispo_count_csv = "output/city_dispo_county_with_county.csv"

summed_county_sales_csv = "output/2019_county_dispo_data_extended.csv"

In [2]:
county_sales_df = pd.read_csv(county_sales_csv)
census_pop_df = pd.read_csv(city_coords_csv)
county_per_cap_income_df = pd.read_csv(county_per_cap_income_csv)
store_coords_df =  pd.read_csv(store_coords_csv)
city_coords_df = pd.read_csv(city_coords_csv)
summed_county_sales_df = pd.read_csv(summed_county_sales_csv)
summed_county_sales_df

,county,personal_income,population,per_capita_income,dispensary_count,population_per_dispenary,sales,sales_per_capita,avg_sales_per_dispensary,avg_sale_dispo_per_capita,percent_of_sales_over_income
0,Baker,685166000,16124,42494,4,4031,3.017405e+07,1871.38,7543513.01,467.84,4.40
1,Umatilla,3268316000,77950,41928,4,19488,1.166599e+07,149.66,2916497.53,37.41,0.36
2,Malheur,1057034000,30571,34576,9,3397,2.027109e+07,663.08,2252343.84,73.68,1.92
3,Washington,38527576000,601592,64043,40,15040,7.985603e+07,132.74,1996400.74,3.32,0.21
4,Deschutes,11159204000,197692,56447,30,6590,4.389709e+07,222.05,1463236.17,7.40,0.39
5,Clackamas,25812808000,418187,61726,30,13940,4.126615e+07,98.68,1375538.35,3.29,0.16
6,Klamath,2839572000,68238,41613,5,13648,6.415073e+06,94.01,1283014.50,18.80,0.23
7,Yamhill,5086605000,107100,47494,12,8925,1.471491e+07,137.39,1226242.35,11.45,0.29
8,Josephine,3810451000,87487,43554,11,7953,1.233118e+07,140.95,1121016.16,12.81,0.32
9,Multnomah,49399774000,812855,60773,216,3763,2.279718e+08,280.46,1055424.90,1.30,0.46
10,Lane,18087217000,382067,47340,82,4659,7.640668e+07,199.98,931788.84,2.44,0.42
11,Marion,15706672000,347818,45158,61,5702,5.553677e+07,159.67,910438.78,2.62,0.35
12,Wasco,1163239000,26682,43596,5,5336,4.537858e+06,170.07,907571.51,34.01,0.39
13,Douglas,4698282000,110980,42334,16,6936,1.403992e+07,126.51,877495.22,7.91,0.30
14,Grant,308754000,7199,42888,1,7199,8.684471e+05,120.63,868447.09,120.63,0.28
15,Linn,5816653000,129749,44830,21,6179,1.781627e+07,137.31,848393.90,6.54,0.31
16,Harney,309164000,7393,41818,2,3696,1.681708e+06,227.47,840854.06,113.74,0.54
17,Hood River,1316983000,23382,56325,6,3897,5.034645e+06,215.32,839107.51,35.89,0.38
18,Curry,1042502000,22925,45474,11,2084,8.988199e+06,392.07,817108.99,35.64,0.86
19,Jackson,10669698000,220944,48291,48,4603,3.828773e+07,173.29,797661.07,3.61,0.36
20,Jefferson,866858000,24658,35155,5,4932,3.884162e+06,157.52,776832.47,31.50,0.45
21,Columbia,2409293000,52354,46019,11,4759,8.502053e+06,162.40,772913.93,14.76,0.35
22,Benton,4534024000,93053,48725,15,6204,1.129068e+07,121.34,752711.90,8.09,0.25
23,Lincoln,2294997000,49962,45935,24,2082,1.692710e+07,338.80,705296.02,14.12,0.74
24,Polk,3692806000,86085,42897,11,7826,7.509699e+06,87.24,682699.92,7.93,0.20
25,Tillamook,1240385000,27036,45879,11,2458,7.356489e+06,272.10,668771.73,24.74,0.59
26,Clatsop,1893791000,40224,47081,19,2117,1.221850e+07,303.76,643078.78,15.99,0.65
27,Lake,340162000,7869,43228,2,3934,1.257931e+06,159.86,628965.57,79.93,0.37
28,Coos,2994046000,64487,46429,24,2687,1.349013e+07,209.19,562088.65,8.72,0.45
29,Wallowa,331884000,7208,46044,1,7208,5.466325e+05,75.84,546632.53,75.84,0.16

In [10]:
city_dispo_county = city_coords_df.rename(columns={"Geographic Area": "City"})
city_dispo_county

                           City   2020   2019        long        lat
0    Adair Village city, Oregon    840    874 -123.217876  44.670676
1            Adams city, Oregon    350    357 -118.562473  45.767354
2           Adrian city, Oregon    177    173 -117.071826  43.740716
3           Albany city, Oregon  50158  55338 -123.105928  44.636511
4            Amity city, Oregon   1614   1724 -123.207326  45.115672
..                          ...    ...    ...         ...        ...
235       Woodburn city, Oregon  24080  26273 -122.855372  45.143731
236   Wood Village city, Oregon   3878   4093 -122.418444  45.537111
237        Yachats city, Oregon    690    784 -124.104842  44.311231
238        Yamhill city, Oregon   1024   1169 -123.187824  45.341504
239       Yoncalla city, Oregon   1047   1096 -123.282517  43.599141

[240 rows x 5 columns]

In [11]:
city_dispo_county["2019"] = city_dispo_county["2019"].str.replace(',','')
city_dispo_county["2020"] = city_dispo_county["2020"].str.replace(',','')
city_dispo_county["Population per Dispensary"] = city_dispo_county["2020"].astype("float") / city_dispo_county["Dispensary Count"]
city_dispo_county

KeyError: 'Dispensary Count'

In [170]:
city_dispo_county_merge = city_dispo_county.merge(store_coords_city_county, on="City", how="left")
city_dispo_county_merge

,City,2020,2019,long,lat,Dispensary Count,Population per Dispensary,County
0,Albany,50158,55338,-123.11,44.64,8,6269.75,Linn
1,Ashland,20078,21281,-122.71,42.19,5,4015.60,Jackson
2,Astoria,9477,10015,-123.83,46.19,8,1184.62,Clatsop
3,Aurora,918,1039,-122.76,45.23,1,918.00,Marion
4,Bandon,3066,3148,-124.41,43.12,3,1022.00,Coos
...,...,...,...,...,...,...,...,...
98,Wheeler,414,440,-123.88,45.69,1,414.00,Tillamook
99,Willamina,2025,2250,-123.49,45.08,1,2025.00,Polk
100,Woodburn,24080,26273,-122.86,45.14,1,24080.00,Marion
101,Wood Village,3878,4093,-122.42,45.54,1,3878.00,Multnomah
102,Yachats,690,784,-124.10,44.31,1,690.00,Lincoln

In [171]:
city_dispo_county_merge.to_csv("output/city_dispo_county_with_county.csv", index=False)

In [88]:
city_coords_df = pd.read_csv(city_coords_csv)
city_coords_df

                Geographic Area    2020    2019    long   lat
0    Adair Village city, Oregon     840     874 -123.22 44.67
1            Adams city, Oregon     350     357 -118.56 45.77
2           Adrian city, Oregon     177     173 -117.07 43.74
3           Albany city, Oregon  50,158  55,338 -123.11 44.64
4            Amity city, Oregon   1,614   1,724 -123.21 45.12
..                          ...     ...     ...     ...   ...
235       Woodburn city, Oregon  24,080  26,273 -122.86 45.14
236   Wood Village city, Oregon   3,878   4,093 -122.42 45.54
237        Yachats city, Oregon     690     784 -124.10 44.31
238        Yamhill city, Oregon   1,024   1,169 -123.19 45.34
239       Yoncalla city, Oregon   1,047   1,096 -123.28 43.60

[240 rows x 5 columns]

In [ ]:
county_sales_df.[]

In [161]:
store_coords_df =  pd.read_csv(store_coords_csv)
store_coords_df

,TRADE NAME,POSTAL CITY,COUNTY,STREET ADDRESS,ZIP,Med Grade,Delivery,Full Address,long,lat
0,420VILLE,HUNTINGTON,BAKER,210 W. WASHINGTON ST.,97907,NaN,NaN,"210 W. WASHINGTON ST. , HUNTINGTON, OR",-117.27,44.35
1,HOTBOX FARMS,HUNTINGTON,BAKER,120 E WASHINGTON ST,97907,Yes,NaN,"120 E WASHINGTON ST , HUNTINGTON, OR",-117.27,44.35
2,SUMPTER NUGGET,SUMPTER,BAKER,"160 N. MILL STREET, SUITE #102",97877,Yes,NaN,"160 N. MILL STREET, SUITE #102 , SUMPTER, OR",-118.20,44.75
3,THE COUGHIE POT,SUMPTER,BAKER,363 B SOUTH MILL STREET PO BOX 74,97877,NaN,NaN,"363 B SOUTH MILL STREET PO BOX 74, SUMPTER, OR",-118.20,44.74
4,BEATNICK'S FINEST,CORVALLIS,BENTON,126 SW AVERY AVE,97333,NaN,NaN,"126 SW AVERY AVE , CORVALLIS, OR",-123.27,44.55
...,...,...,...,...,...,...,...,...,...,...
732,CANNA BROS.,NEWBERG,YAMHILL,2316 E PORTLAND RD SUITE C-2,97132,Yes,NaN,"2316 E PORTLAND RD SUITE C-2 , NEWBERG, OR",-122.96,45.30
733,OASIS CANNABIS,NEWBERG,YAMHILL,"308 VILLA ROAD, SUITE 115",97132,Yes,Yes,"308 VILLA ROAD, SUITE 115 , NEWBERG, OR",-122.96,45.30
734,WESTERN OREGON DISPENSARY INC,NEWBERG,YAMHILL,1013 N. SPRINGBROOK RD.,97132,Yes,Yes,"1013 N. SPRINGBROOK RD. , NEWBERG, OR",-122.95,45.31
735,CANNA BROS.,SHERIDAN,YAMHILL,1210 W MAIN ST,97378,Yes,NaN,"1210 W MAIN ST , SHERIDAN, OR",-123.42,45.10
736,POTTONMOUTH RETAIL CANNABIS,SHERIDAN,YAMHILL,950 SE SHERIDAN ROAD,97378,Yes,Yes,"950 SE SHERIDAN ROAD , SHERIDAN, OR",-123.38,45.09

In [168]:
store_coords_city_county = store_coords_df.loc[:, ["POSTAL CITY", "COUNTY"]].rename(columns={"POSTAL CITY": "City", "COUNTY": "County"}).drop_duplicates(subset=["City", "County"], keep="first")
store_coords_city_county["City"] = store_coords_city_county["City"].str.title()
store_coords_city_county["County"] = store_coords_city_county["County"].str.title()
store_coords_city_county

            City      County
0     Huntington       Baker
2        Sumpter       Baker
4      Corvallis      Benton
19     Clackamas   Clackamas
21      Damascus   Clackamas
..           ...         ...
721       Tigard  Washington
725       Dundee     Yamhill
726  Mcminnville     Yamhill
732      Newberg     Yamhill
735     Sheridan     Yamhill

[121 rows x 2 columns]

In [61]:
county_sales_df.dtypes

County                    object
Month Filter              object
Latitude (generated)     float64
Longitude (generated)    float64
Sales                    float64
dtype: object

In [62]:
county_sales_twenty = county_sales_df.loc[county_sales_df["Month Filter"].str.contains("2020"), ["County", "Sales"]]
county_sales_twenty_gb = county_sales_twenty.groupby("County").agg({"Sales":"sum"})
county_sales_twenty_gb["Sales"] = round(county_sales_twenty_gb["Sales"],2)
county_sales_twenty_gb

                  Sales
County
Baker        7930616.88
Benton      13902198.77
Clackamas   55067186.78
Clatsop     15784779.17
Columbia    11217869.51
Coos        18286313.66
Curry       13139407.38
Deschutes   55928521.50
Douglas     21477055.54
Grant        1175273.82
Harney       2096504.00
Hood River   6456251.76
Jackson     53189497.53
Jefferson    5621381.87
Josephine   18715169.00
Klamath     14355537.20
Lake         1440728.52
Lane       101343517.66
Lincoln     20883923.34
Linn        25203486.98
Malheur     91713893.35
Marion      73521892.92
Multnomah  313350792.90
Polk        11020955.38
Tillamook    8741771.99
Umatilla    16273875.11
Union         258839.47
Wallowa      1171817.37
Wasco        6011914.37
Washington 104946518.96
Yamhill     20293230.54

In [63]:
county_sales_nineteen = county_sales_df.loc[county_sales_df["Month Filter"].str.contains("2019"), ["County", "Sales"]]
county_sales_nineteen = county_sales_nineteen.groupby("County").agg({"Sales":"sum"})
county_sales_nineteen["Sales"] = round(county_sales_nineteen["Sales"],2)
county_sales_nineteen

                  Sales
County
Baker       30174052.05
Benton      11290678.54
Clackamas   41266150.45
Clatsop     12218496.84
Columbia     8502053.25
Coos        13490127.66
Curry        8988198.90
Deschutes   43897085.12
Douglas     14039923.51
Grant         868447.09
Harney       1681708.11
Hood River   5034645.06
Jackson     38287731.28
Jefferson    3884162.34
Josephine   12331177.75
Klamath      6415072.51
Lake         1257931.14
Lane        76406684.49
Lincoln     16927104.39
Linn        17816271.95
Malheur     20271094.57
Marion      55536765.42
Multnomah  227971779.28
Polk         7509699.15
Tillamook    7356489.03
Umatilla    11665990.12
Union         388869.68
Wallowa       546632.53
Wasco        4537857.53
Washington  79856029.61
Yamhill     14714908.24

In [76]:
census_pop_df

    Geographic Area    2020    2019    long   lat
0     [Adair Villa]     840     874 -123.22 44.67
1           [Adams]     350     357 -118.56 45.77
2           [Adria]     177     173 -117.07 43.74
3            [Alba]  50,158  55,338 -123.11 44.64
4              [Am]   1,614   1,724 -123.21 45.12
..              ...     ...     ...     ...   ...
235        [Woodbu]  24,080  26,273 -122.86 45.14
236    [Wood Villa]   3,878   4,093 -122.42 45.54
237       [Yachats]     690     784 -124.10 44.31
238       [Yamhill]   1,024   1,169 -123.19 45.34
239      [Yoncalla]   1,047   1,096 -123.28 43.60

[240 rows x 5 columns]

In [50]:
oregon_city_pop = census_pop_df.loc[census_pop_df["Geographic Area"].str.endswith("Oregon"), ["Geographic Area", "Census", "2019"]].reset_index(drop=True)
oregon_city_pop = oregon_city_pop.rename(columns={"Census": "2020"})
oregon_city_pop

KeyError: 'Geographic Area'

In [128]:
store_coords_df = store_coords_df.groupby("POSTAL CITY").agg({"TRADE NAME": "count"}).reset_index(drop=False)
store_coords_df["POSTAL CITY"] = store_coords_df["POSTAL CITY"].str.title()
store_coords_df.sort_values("TRADE NAME", ascending=False)

      POSTAL CITY  TRADE NAME
75       Portland         217
24         Eugene          56
82          Salem          52
58        Medford          34
6            Bend          27
..            ...         ...
71           Otis           1
74        Phoenix           1
78   Rhododendron           1
9     Brownsville           1
113       Yachats           1

[114 rows x 2 columns]

In [107]:
city_coords_df = pd.read_csv(city_coords_csv)
oregon_city_pop = city_coords_df
oregon_city_pop

                Geographic Area    2020    2019    long   lat
0    Adair Village city, Oregon     840     874 -123.22 44.67
1            Adams city, Oregon     350     357 -118.56 45.77
2           Adrian city, Oregon     177     173 -117.07 43.74
3           Albany city, Oregon  50,158  55,338 -123.11 44.64
4            Amity city, Oregon   1,614   1,724 -123.21 45.12
..                          ...     ...     ...     ...   ...
235       Woodburn city, Oregon  24,080  26,273 -122.86 45.14
236   Wood Village city, Oregon   3,878   4,093 -122.42 45.54
237        Yachats city, Oregon     690     784 -124.10 44.31
238        Yamhill city, Oregon   1,024   1,169 -123.19 45.34
239       Yoncalla city, Oregon   1,047   1,096 -123.28 43.60

[240 rows x 5 columns]

In [108]:
oregon_city_pop["Geographic Area"] = oregon_city_pop["Geographic Area"].str.split(" city, Oregon").str[0]

In [109]:
oregon_city_pop = oregon_city_pop.rename(columns={"Geographic Area":"City"})

In [110]:
oregon_city_pop

              City    2020    2019    long   lat
0    Adair Village     840     874 -123.22 44.67
1            Adams     350     357 -118.56 45.77
2           Adrian     177     173 -117.07 43.74
3           Albany  50,158  55,338 -123.11 44.64
4            Amity   1,614   1,724 -123.21 45.12
..             ...     ...     ...     ...   ...
235       Woodburn  24,080  26,273 -122.86 45.14
236   Wood Village   3,878   4,093 -122.42 45.54
237        Yachats     690     784 -124.10 44.31
238        Yamhill   1,024   1,169 -123.19 45.34
239       Yoncalla   1,047   1,096 -123.28 43.60

[240 rows x 5 columns]

In [129]:
oregon_city_pop.loc[oregon_city_pop["City"] == "Portland", :]

         City     2020     2019    long   lat
165  Portland  583,776  654,741 -122.68 45.51

In [131]:
store_coords_df = store_coords_df.rename(columns={"POSTAL CITY":"City", "TRADE NAME":"Dispensary Count"})
store_coords_df

             City  Dispensary Count
0          Albany                 8
1         Ashland                 5
2         Astoria                 8
3          Aurora                 1
4          Bandon                 3
..            ...               ...
109    White City                 1
110     Willamina                 1
111  Wood Village                 1
112      Woodburn                 1
113       Yachats                 1

[114 rows x 2 columns]

In [134]:
city_merge_dispo_count = oregon_city_pop.merge(store_coords_df, on="City", how="inner")
city_merge_dispo_count.to_csv("output/city_dispo_county.csv", index=False)

In [ ]:
oregon_city_pop

In [9]:
county_per_cap_income_df

,County,Personal income (thousands of dollars),Population,Per capita income ($)
0,"Baker, OR",685166,16124,42494
1,"Benton, OR",4534024,93053,48725
2,"Clackamas, OR",25812808,418187,61726
3,"Clatsop, OR",1893791,40224,47081
4,"Columbia, OR",2409293,52354,46019
5,"Coos, OR",2994046,64487,46429
6,"Crook, OR",1039221,24404,42584
7,"Curry, OR",1042502,22925,45474
8,"Deschutes, OR",11159204,197692,56447
9,"Douglas, OR",4698282,110980,42334
10,"Gilliam, OR",105942,1912,55409
11,"Grant, OR",308754,7199,42888
12,"Harney, OR",309164,7393,41818
13,"Hood River, OR",1316983,23382,56325
14,"Jackson, OR",10669698,220944,48291
15,"Jefferson, OR",866858,24658,35155
16,"Josephine, OR",3810451,87487,43554
17,"Klamath, OR",2839572,68238,41613
18,"Lake, OR",340162,7869,43228
19,"Lane, OR",18087217,382067,47340
20,"Lincoln, OR",2294997,49962,45935
21,"Linn, OR",5816653,129749,44830
22,"Malheur, OR",1057034,30571,34576
23,"Marion, OR",15706672,347818,45158
24,"Morrow, OR",563965,11603,48605
25,"Multnomah, OR",49399774,812855,60773
26,"Polk, OR",3692806,86085,42897
27,"Sherman, OR",101353,1780,56940
28,"Tillamook, OR",1240385,27036,45879
29,"Umatilla, OR",3268316,77950,41928
30,"Union, OR",1119594,26835,41721
31,"Wallowa, OR",331884,7208,46044
32,"Wasco, OR",1163239,26682,43596
33,"Washington, OR",38527576,601592,64043
34,"Wheeler, OR",52438,1332,39368
35,"Yamhill, OR",5086605,107100,47494

In [10]:
for index, row in county_per_cap_income_df.iterrows():
    county_name = row["County"].split(", ")[0]
    
    county_per_cap_income_df.loc[index, "County"] = county_name
    
county_per_cap_income_df

,County,Personal income (thousands of dollars),Population,Per capita income ($)
0,Baker,685166,16124,42494
1,Benton,4534024,93053,48725
2,Clackamas,25812808,418187,61726
3,Clatsop,1893791,40224,47081
4,Columbia,2409293,52354,46019
5,Coos,2994046,64487,46429
6,Crook,1039221,24404,42584
7,Curry,1042502,22925,45474
8,Deschutes,11159204,197692,56447
9,Douglas,4698282,110980,42334
10,Gilliam,105942,1912,55409
11,Grant,308754,7199,42888
12,Harney,309164,7393,41818
13,Hood River,1316983,23382,56325
14,Jackson,10669698,220944,48291
15,Jefferson,866858,24658,35155
16,Josephine,3810451,87487,43554
17,Klamath,2839572,68238,41613
18,Lake,340162,7869,43228
19,Lane,18087217,382067,47340
20,Lincoln,2294997,49962,45935
21,Linn,5816653,129749,44830
22,Malheur,1057034,30571,34576
23,Marion,15706672,347818,45158
24,Morrow,563965,11603,48605
25,Multnomah,49399774,812855,60773
26,Polk,3692806,86085,42897
27,Sherman,101353,1780,56940
28,Tillamook,1240385,27036,45879
29,Umatilla,3268316,77950,41928
30,Union,1119594,26835,41721
31,Wallowa,331884,7208,46044
32,Wasco,1163239,26682,43596
33,Washington,38527576,601592,64043
34,Wheeler,52438,1332,39368
35,Yamhill,5086605,107100,47494

In [11]:
retail_licenses_df

,TRADE NAME,POSTAL CITY,COUNTY,STREET ADDRESS,ZIP,Med Grade,Delivery,Full Address
0,420VILLE,HUNTINGTON,BAKER,210 W. WASHINGTON ST.,97907,NaN,NaN,"210 W. WASHINGTON ST. , HUNTINGTON, OR"
1,HOTBOX FARMS,HUNTINGTON,BAKER,120 E WASHINGTON ST,97907,Yes,NaN,"120 E WASHINGTON ST , HUNTINGTON, OR"
2,SUMPTER NUGGET,SUMPTER,BAKER,"160 N. MILL STREET, SUITE #102",97877,Yes,NaN,"160 N. MILL STREET, SUITE #102 , SUMPTER, OR"
3,THE COUGHIE POT,SUMPTER,BAKER,363 B SOUTH MILL STREET PO BOX 74,97877,NaN,NaN,"363 B SOUTH MILL STREET PO BOX 74, SUMPTER, OR"
4,BEATNICK'S FINEST,CORVALLIS,BENTON,126 SW AVERY AVE,97333,NaN,NaN,"126 SW AVERY AVE , CORVALLIS, OR"
...,...,...,...,...,...,...,...,...
732,CANNA BROS.,NEWBERG,YAMHILL,2316 E PORTLAND RD SUITE C-2,97132,Yes,NaN,"2316 E PORTLAND RD SUITE C-2 , NEWBERG, OR"
733,OASIS CANNABIS,NEWBERG,YAMHILL,"308 VILLA ROAD, SUITE 115",97132,Yes,Yes,"308 VILLA ROAD, SUITE 115 , NEWBERG, OR"
734,WESTERN OREGON DISPENSARY INC,NEWBERG,YAMHILL,1013 N. SPRINGBROOK RD.,97132,Yes,Yes,"1013 N. SPRINGBROOK RD. , NEWBERG, OR"
735,CANNA BROS.,SHERIDAN,YAMHILL,1210 W MAIN ST,97378,Yes,NaN,"1210 W MAIN ST , SHERIDAN, OR"
736,POTTONMOUTH RETAIL CANNABIS,SHERIDAN,YAMHILL,950 SE SHERIDAN ROAD,97378,Yes,Yes,"950 SE SHERIDAN ROAD , SHERIDAN, OR"

In [12]:
retail_licenses_df["COUNTY"].unique()

array(['BAKER', 'BENTON', 'CLACKAMAS', 'CLATSOP', 'COLUMBIA', 'COOS',
       'CURRY', 'DESCHUTES', 'DOUGLAS', 'ERROR', 'HARNEY', 'HOOD RIVER',
       'JACKSON', 'JEFFERSON', 'JOSEPHINE', 'LAKE', 'LANE', 'LINCOLN',
       'LINN', 'MARION', 'MULTNOMAH', 'POLK', 'TILLAMOOK', 'UMATILLA',
       'WASCO', 'WASHINGTON', 'YAMHILL'], dtype=object)

In [13]:
dispo_by_county = retail_licenses_df.groupby("COUNTY").agg({"TRADE NAME": "count"}).reset_index(drop=False).rename(columns={"COUNTY": "County", "TRADE NAME": "Dispensary Count"})
dispo_by_county["County"] = dispo_by_county["County"].str.title()
dispo_by_county

        County  Dispensary Count
0        Baker                 4
1       Benton                15
2    Clackamas                30
3      Clatsop                19
4     Columbia                11
5         Coos                24
6        Curry                11
7    Deschutes                30
8      Douglas                16
9        Error                16
10      Harney                 2
11  Hood River                 6
12     Jackson                48
13   Jefferson                 5
14   Josephine                11
15        Lake                 2
16        Lane                82
17     Lincoln                24
18        Linn                21
19      Marion                61
20   Multnomah               216
21        Polk                11
22   Tillamook                11
23    Umatilla                 4
24       Wasco                 5
25  Washington                40
26     Yamhill                12

In [14]:
first_merge = county_per_cap_income_df.merge(dispo_by_county, on="County", how="outer")

In [15]:
county_clean_merge = first_merge.dropna().reset_index(drop=True)
county_clean_merge

,County,Personal income (thousands of dollars),Population,Per capita income ($),Dispensary Count
0,Baker,685166.0,16124.0,42494.0,4.0
1,Benton,4534024.0,93053.0,48725.0,15.0
2,Clackamas,25812808.0,418187.0,61726.0,30.0
3,Clatsop,1893791.0,40224.0,47081.0,19.0
4,Columbia,2409293.0,52354.0,46019.0,11.0
5,Coos,2994046.0,64487.0,46429.0,24.0
6,Curry,1042502.0,22925.0,45474.0,11.0
7,Deschutes,11159204.0,197692.0,56447.0,30.0
8,Douglas,4698282.0,110980.0,42334.0,16.0
9,Harney,309164.0,7393.0,41818.0,2.0
10,Hood River,1316983.0,23382.0,56325.0,6.0
11,Jackson,10669698.0,220944.0,48291.0,48.0
12,Jefferson,866858.0,24658.0,35155.0,5.0
13,Josephine,3810451.0,87487.0,43554.0,11.0
14,Lake,340162.0,7869.0,43228.0,2.0
15,Lane,18087217.0,382067.0,47340.0,82.0
16,Lincoln,2294997.0,49962.0,45935.0,24.0
17,Linn,5816653.0,129749.0,44830.0,21.0
18,Marion,15706672.0,347818.0,45158.0,61.0
19,Multnomah,49399774.0,812855.0,60773.0,216.0
20,Polk,3692806.0,86085.0,42897.0,11.0
21,Tillamook,1240385.0,27036.0,45879.0,11.0
22,Umatilla,3268316.0,77950.0,41928.0,4.0
23,Wasco,1163239.0,26682.0,43596.0,5.0
24,Washington,38527576.0,601592.0,64043.0,40.0
25,Yamhill,5086605.0,107100.0,47494.0,12.0

In [116]:
sorted_county = county_clean_merge.sort_values("Personal income (thousands of dollars)", ascending=False)
sorted_county["Population per Dispenary"] = round(sorted_county["Population"] / sorted_county["Dispensary Count"], 0)
sorted_county

,County,Personal income (thousands of dollars),Population,Per capita income ($),Dispensary Count,Population per Dispenary
19,Multnomah,49399774.00,812855.00,60773.00,216.00,3763.00
24,Washington,38527576.00,601592.00,64043.00,40.00,15040.00
2,Clackamas,25812808.00,418187.00,61726.00,30.00,13940.00
15,Lane,18087217.00,382067.00,47340.00,82.00,4659.00
18,Marion,15706672.00,347818.00,45158.00,61.00,5702.00
7,Deschutes,11159204.00,197692.00,56447.00,30.00,6590.00
11,Jackson,10669698.00,220944.00,48291.00,48.00,4603.00
17,Linn,5816653.00,129749.00,44830.00,21.00,6179.00
25,Yamhill,5086605.00,107100.00,47494.00,12.00,8925.00
8,Douglas,4698282.00,110980.00,42334.00,16.00,6936.00
1,Benton,4534024.00,93053.00,48725.00,15.00,6204.00
13,Josephine,3810451.00,87487.00,43554.00,11.00,7953.00
20,Polk,3692806.00,86085.00,42897.00,11.00,7826.00
22,Umatilla,3268316.00,77950.00,41928.00,4.00,19488.00
5,Coos,2994046.00,64487.00,46429.00,24.00,2687.00
4,Columbia,2409293.00,52354.00,46019.00,11.00,4759.00
16,Lincoln,2294997.00,49962.00,45935.00,24.00,2082.00
3,Clatsop,1893791.00,40224.00,47081.00,19.00,2117.00
10,Hood River,1316983.00,23382.00,56325.00,6.00,3897.00
21,Tillamook,1240385.00,27036.00,45879.00,11.00,2458.00
23,Wasco,1163239.00,26682.00,43596.00,5.00,5336.00
6,Curry,1042502.00,22925.00,45474.00,11.00,2084.00
12,Jefferson,866858.00,24658.00,35155.00,5.00,4932.00
0,Baker,685166.00,16124.00,42494.00,4.00,4031.00
14,Lake,340162.00,7869.00,43228.00,2.00,3934.00
9,Harney,309164.00,7393.00,41818.00,2.00,3696.00

In [117]:
merged_county_with_sales = sorted_county.merge(county_sales_nineteen, on="County", how="left").rename(columns={"Personal income (thousands of dollars)":"Personal Income"})
merged_county_with_sales["Sales per Capita"] = merged_county_with_sales["Sales"] / merged_county_with_sales["Population"]
merged_county_with_sales["Personal Income"] = merged_county_with_sales["Personal Income"] * 1000
merged_county_with_sales

,County,Personal Income,Population,Per capita income ($),Dispensary Count,Population per Dispenary,Sales,Sales per Capita
0,Multnomah,49399774000.00,812855.00,60773.00,216.00,3763.00,227971779.28,280.46
1,Washington,38527576000.00,601592.00,64043.00,40.00,15040.00,79856029.61,132.74
2,Clackamas,25812808000.00,418187.00,61726.00,30.00,13940.00,41266150.45,98.68
3,Lane,18087217000.00,382067.00,47340.00,82.00,4659.00,76406684.49,199.98
4,Marion,15706672000.00,347818.00,45158.00,61.00,5702.00,55536765.42,159.67
5,Deschutes,11159204000.00,197692.00,56447.00,30.00,6590.00,43897085.12,222.05
6,Jackson,10669698000.00,220944.00,48291.00,48.00,4603.00,38287731.28,173.29
7,Linn,5816653000.00,129749.00,44830.00,21.00,6179.00,17816271.95,137.31
8,Yamhill,5086605000.00,107100.00,47494.00,12.00,8925.00,14714908.24,137.39
9,Douglas,4698282000.00,110980.00,42334.00,16.00,6936.00,14039923.51,126.51
10,Benton,4534024000.00,93053.00,48725.00,15.00,6204.00,11290678.54,121.34
11,Josephine,3810451000.00,87487.00,43554.00,11.00,7953.00,12331177.75,140.95
12,Polk,3692806000.00,86085.00,42897.00,11.00,7826.00,7509699.15,87.24
13,Umatilla,3268316000.00,77950.00,41928.00,4.00,19488.00,11665990.12,149.66
14,Coos,2994046000.00,64487.00,46429.00,24.00,2687.00,13490127.66,209.19
15,Columbia,2409293000.00,52354.00,46019.00,11.00,4759.00,8502053.25,162.40
16,Lincoln,2294997000.00,49962.00,45935.00,24.00,2082.00,16927104.39,338.80
17,Clatsop,1893791000.00,40224.00,47081.00,19.00,2117.00,12218496.84,303.76
18,Hood River,1316983000.00,23382.00,56325.00,6.00,3897.00,5034645.06,215.32
19,Tillamook,1240385000.00,27036.00,45879.00,11.00,2458.00,7356489.03,272.10
20,Wasco,1163239000.00,26682.00,43596.00,5.00,5336.00,4537857.53,170.07
21,Curry,1042502000.00,22925.00,45474.00,11.00,2084.00,8988198.90,392.07
22,Jefferson,866858000.00,24658.00,35155.00,5.00,4932.00,3884162.34,157.52
23,Baker,685166000.00,16124.00,42494.00,4.00,4031.00,30174052.05,1871.38
24,Lake,340162000.00,7869.00,43228.00,2.00,3934.00,1257931.14,159.86
25,Harney,309164000.00,7393.00,41818.00,2.00,3696.00,1681708.11,227.47

In [118]:
merged_county_with_sales.to_csv("output/2019_county_dispo_data.csv", index=False)

In [119]:
merged_county_with_sales.sort_values("Sales per Capita", ascending=False)

,County,Personal Income,Population,Per capita income ($),Dispensary Count,Population per Dispenary,Sales,Sales per Capita
23,Baker,685166000.00,16124.00,42494.00,4.00,4031.00,30174052.05,1871.38
21,Curry,1042502000.00,22925.00,45474.00,11.00,2084.00,8988198.90,392.07
16,Lincoln,2294997000.00,49962.00,45935.00,24.00,2082.00,16927104.39,338.80
17,Clatsop,1893791000.00,40224.00,47081.00,19.00,2117.00,12218496.84,303.76
0,Multnomah,49399774000.00,812855.00,60773.00,216.00,3763.00,227971779.28,280.46
19,Tillamook,1240385000.00,27036.00,45879.00,11.00,2458.00,7356489.03,272.10
25,Harney,309164000.00,7393.00,41818.00,2.00,3696.00,1681708.11,227.47
5,Deschutes,11159204000.00,197692.00,56447.00,30.00,6590.00,43897085.12,222.05
18,Hood River,1316983000.00,23382.00,56325.00,6.00,3897.00,5034645.06,215.32
14,Coos,2994046000.00,64487.00,46429.00,24.00,2687.00,13490127.66,209.19
3,Lane,18087217000.00,382067.00,47340.00,82.00,4659.00,76406684.49,199.98
6,Jackson,10669698000.00,220944.00,48291.00,48.00,4603.00,38287731.28,173.29
20,Wasco,1163239000.00,26682.00,43596.00,5.00,5336.00,4537857.53,170.07
15,Columbia,2409293000.00,52354.00,46019.00,11.00,4759.00,8502053.25,162.40
24,Lake,340162000.00,7869.00,43228.00,2.00,3934.00,1257931.14,159.86
4,Marion,15706672000.00,347818.00,45158.00,61.00,5702.00,55536765.42,159.67
22,Jefferson,866858000.00,24658.00,35155.00,5.00,4932.00,3884162.34,157.52
13,Umatilla,3268316000.00,77950.00,41928.00,4.00,19488.00,11665990.12,149.66
11,Josephine,3810451000.00,87487.00,43554.00,11.00,7953.00,12331177.75,140.95
8,Yamhill,5086605000.00,107100.00,47494.00,12.00,8925.00,14714908.24,137.39
7,Linn,5816653000.00,129749.00,44830.00,21.00,6179.00,17816271.95,137.31
1,Washington,38527576000.00,601592.00,64043.00,40.00,15040.00,79856029.61,132.74
9,Douglas,4698282000.00,110980.00,42334.00,16.00,6936.00,14039923.51,126.51
10,Benton,4534024000.00,93053.00,48725.00,15.00,6204.00,11290678.54,121.34
2,Clackamas,25812808000.00,418187.00,61726.00,30.00,13940.00,41266150.45,98.68
12,Polk,3692806000.00,86085.00,42897.00,11.00,7826.00,7509699.15,87.24

In [20]:
print(len(county_per_cap_income_df))
print(len(dispo_by_county))

36
27

In [120]:
merged_county_with_sales["Avg Sales per Dispensary"] = merged_county_with_sales["Sales"] / merged_county_with_sales["Dispensary Count"]
avg_sale_per_dispo = merged_county_with_sales.sort_values("Avg Sales per Dispensary", ascending=False)
avg_sale_per_dispo["Avg Sale / Dispo / Capita"] = avg_sale_per_dispo["Avg Sales per Dispensary"] / avg_sale_per_dispo["Population"]
sorted_by_avg_sale_dispo_capi = avg_sale_per_dispo.sort_values("Avg Sale / Dispo / Capita", ascending=False)

,County,Personal Income,Population,Per capita income ($),Dispensary Count,Population per Dispenary,Sales,Sales per Capita,Avg Sales per Dispensary,Avg Sale / Dispo / Capita
23,Baker,685166000.00,16124.00,42494.00,4.00,4031.00,30174052.05,1871.38,7543513.01,467.84
13,Umatilla,3268316000.00,77950.00,41928.00,4.00,19488.00,11665990.12,149.66,2916497.53,37.41
1,Washington,38527576000.00,601592.00,64043.00,40.00,15040.00,79856029.61,132.74,1996400.74,3.32
5,Deschutes,11159204000.00,197692.00,56447.00,30.00,6590.00,43897085.12,222.05,1463236.17,7.40
2,Clackamas,25812808000.00,418187.00,61726.00,30.00,13940.00,41266150.45,98.68,1375538.35,3.29
8,Yamhill,5086605000.00,107100.00,47494.00,12.00,8925.00,14714908.24,137.39,1226242.35,11.45
11,Josephine,3810451000.00,87487.00,43554.00,11.00,7953.00,12331177.75,140.95,1121016.16,12.81
0,Multnomah,49399774000.00,812855.00,60773.00,216.00,3763.00,227971779.28,280.46,1055424.90,1.30
3,Lane,18087217000.00,382067.00,47340.00,82.00,4659.00,76406684.49,199.98,931788.84,2.44
4,Marion,15706672000.00,347818.00,45158.00,61.00,5702.00,55536765.42,159.67,910438.78,2.62
20,Wasco,1163239000.00,26682.00,43596.00,5.00,5336.00,4537857.53,170.07,907571.51,34.01
9,Douglas,4698282000.00,110980.00,42334.00,16.00,6936.00,14039923.51,126.51,877495.22,7.91
7,Linn,5816653000.00,129749.00,44830.00,21.00,6179.00,17816271.95,137.31,848393.90,6.54
25,Harney,309164000.00,7393.00,41818.00,2.00,3696.00,1681708.11,227.47,840854.06,113.74
18,Hood River,1316983000.00,23382.00,56325.00,6.00,3897.00,5034645.06,215.32,839107.51,35.89
21,Curry,1042502000.00,22925.00,45474.00,11.00,2084.00,8988198.90,392.07,817108.99,35.64
6,Jackson,10669698000.00,220944.00,48291.00,48.00,4603.00,38287731.28,173.29,797661.07,3.61
22,Jefferson,866858000.00,24658.00,35155.00,5.00,4932.00,3884162.34,157.52,776832.47,31.50
15,Columbia,2409293000.00,52354.00,46019.00,11.00,4759.00,8502053.25,162.40,772913.93,14.76
10,Benton,4534024000.00,93053.00,48725.00,15.00,6204.00,11290678.54,121.34,752711.90,8.09
16,Lincoln,2294997000.00,49962.00,45935.00,24.00,2082.00,16927104.39,338.80,705296.02,14.12
12,Polk,3692806000.00,86085.00,42897.00,11.00,7826.00,7509699.15,87.24,682699.92,7.93
19,Tillamook,1240385000.00,27036.00,45879.00,11.00,2458.00,7356489.03,272.10,668771.73,24.74
17,Clatsop,1893791000.00,40224.00,47081.00,19.00,2117.00,12218496.84,303.76,643078.78,15.99
24,Lake,340162000.00,7869.00,43228.00,2.00,3934.00,1257931.14,159.86,628965.57,79.93
14,Coos,2994046000.00,64487.00,46429.00,24.00,2687.00,13490127.66,209.19,562088.65,8.72

In [26]:
avg_sale_per_dispo["Percent of Sales over Income"] = (avg_sale_per_dispo["Sales"] / avg_sale_per_dispo["Personal Income"]) * 100
avg_sale_per_dispo.sort_values("Avg Sale / Dispo / Capita", ascending=False)

,County,Personal Income,Population,Per capita income ($),Dispensary Count,Population per Dispenary,Sales,Sales per Capita,Avg Sales per Dispensary,Avg Sale / Dispo / Capita,Percent of Sales over Income
23,Baker,685166000.00,16124.00,42494.00,4.00,4031.00,30174052.05,1871.38,7543513.01,467.84,4.40
25,Harney,309164000.00,7393.00,41818.00,2.00,3696.00,1681708.11,227.47,840854.06,113.74,0.54
24,Lake,340162000.00,7869.00,43228.00,2.00,3934.00,1257931.14,159.86,628965.57,79.93,0.37
13,Umatilla,3268316000.00,77950.00,41928.00,4.00,19488.00,11665990.12,149.66,2916497.53,37.41,0.36
18,Hood River,1316983000.00,23382.00,56325.00,6.00,3897.00,5034645.06,215.32,839107.51,35.89,0.38
21,Curry,1042502000.00,22925.00,45474.00,11.00,2084.00,8988198.90,392.07,817108.99,35.64,0.86
20,Wasco,1163239000.00,26682.00,43596.00,5.00,5336.00,4537857.53,170.07,907571.51,34.01,0.39
22,Jefferson,866858000.00,24658.00,35155.00,5.00,4932.00,3884162.34,157.52,776832.47,31.50,0.45
19,Tillamook,1240385000.00,27036.00,45879.00,11.00,2458.00,7356489.03,272.10,668771.73,24.74,0.59
17,Clatsop,1893791000.00,40224.00,47081.00,19.00,2117.00,12218496.84,303.76,643078.78,15.99,0.65
15,Columbia,2409293000.00,52354.00,46019.00,11.00,4759.00,8502053.25,162.40,772913.93,14.76,0.35
16,Lincoln,2294997000.00,49962.00,45935.00,24.00,2082.00,16927104.39,338.80,705296.02,14.12,0.74
11,Josephine,3810451000.00,87487.00,43554.00,11.00,7953.00,12331177.75,140.95,1121016.16,12.81,0.32
8,Yamhill,5086605000.00,107100.00,47494.00,12.00,8925.00,14714908.24,137.39,1226242.35,11.45,0.29
14,Coos,2994046000.00,64487.00,46429.00,24.00,2687.00,13490127.66,209.19,562088.65,8.72,0.45
10,Benton,4534024000.00,93053.00,48725.00,15.00,6204.00,11290678.54,121.34,752711.90,8.09,0.25
12,Polk,3692806000.00,86085.00,42897.00,11.00,7826.00,7509699.15,87.24,682699.92,7.93,0.20
9,Douglas,4698282000.00,110980.00,42334.00,16.00,6936.00,14039923.51,126.51,877495.22,7.91,0.30
5,Deschutes,11159204000.00,197692.00,56447.00,30.00,6590.00,43897085.12,222.05,1463236.17,7.40,0.39
7,Linn,5816653000.00,129749.00,44830.00,21.00,6179.00,17816271.95,137.31,848393.90,6.54,0.31
6,Jackson,10669698000.00,220944.00,48291.00,48.00,4603.00,38287731.28,173.29,797661.07,3.61,0.36
1,Washington,38527576000.00,601592.00,64043.00,40.00,15040.00,79856029.61,132.74,1996400.74,3.32,0.21
2,Clackamas,25812808000.00,418187.00,61726.00,30.00,13940.00,41266150.45,98.68,1375538.35,3.29,0.16
4,Marion,15706672000.00,347818.00,45158.00,61.00,5702.00,55536765.42,159.67,910438.78,2.62,0.35
3,Lane,18087217000.00,382067.00,47340.00,82.00,4659.00,76406684.49,199.98,931788.84,2.44,0.42
0,Multnomah,49399774000.00,812855.00,60773.00,216.00,3763.00,227971779.28,280.46,1055424.90,1.30,0.46

In [27]:
avg_sale_per_dispo.sort_values("Sales", ascending=False)

,County,Personal Income,Population,Per capita income ($),Dispensary Count,Population per Dispenary,Sales,Sales per Capita,Avg Sales per Dispensary,Avg Sale / Dispo / Capita,Percent of Sales over Income
0,Multnomah,49399774000.00,812855.00,60773.00,216.00,3763.00,227971779.28,280.46,1055424.90,1.30,0.46
1,Washington,38527576000.00,601592.00,64043.00,40.00,15040.00,79856029.61,132.74,1996400.74,3.32,0.21
3,Lane,18087217000.00,382067.00,47340.00,82.00,4659.00,76406684.49,199.98,931788.84,2.44,0.42
4,Marion,15706672000.00,347818.00,45158.00,61.00,5702.00,55536765.42,159.67,910438.78,2.62,0.35
5,Deschutes,11159204000.00,197692.00,56447.00,30.00,6590.00,43897085.12,222.05,1463236.17,7.40,0.39
2,Clackamas,25812808000.00,418187.00,61726.00,30.00,13940.00,41266150.45,98.68,1375538.35,3.29,0.16
6,Jackson,10669698000.00,220944.00,48291.00,48.00,4603.00,38287731.28,173.29,797661.07,3.61,0.36
23,Baker,685166000.00,16124.00,42494.00,4.00,4031.00,30174052.05,1871.38,7543513.01,467.84,4.40
7,Linn,5816653000.00,129749.00,44830.00,21.00,6179.00,17816271.95,137.31,848393.90,6.54,0.31
16,Lincoln,2294997000.00,49962.00,45935.00,24.00,2082.00,16927104.39,338.80,705296.02,14.12,0.74
8,Yamhill,5086605000.00,107100.00,47494.00,12.00,8925.00,14714908.24,137.39,1226242.35,11.45,0.29
9,Douglas,4698282000.00,110980.00,42334.00,16.00,6936.00,14039923.51,126.51,877495.22,7.91,0.30
14,Coos,2994046000.00,64487.00,46429.00,24.00,2687.00,13490127.66,209.19,562088.65,8.72,0.45
11,Josephine,3810451000.00,87487.00,43554.00,11.00,7953.00,12331177.75,140.95,1121016.16,12.81,0.32
17,Clatsop,1893791000.00,40224.00,47081.00,19.00,2117.00,12218496.84,303.76,643078.78,15.99,0.65
13,Umatilla,3268316000.00,77950.00,41928.00,4.00,19488.00,11665990.12,149.66,2916497.53,37.41,0.36
10,Benton,4534024000.00,93053.00,48725.00,15.00,6204.00,11290678.54,121.34,752711.90,8.09,0.25
21,Curry,1042502000.00,22925.00,45474.00,11.00,2084.00,8988198.90,392.07,817108.99,35.64,0.86
15,Columbia,2409293000.00,52354.00,46019.00,11.00,4759.00,8502053.25,162.40,772913.93,14.76,0.35
12,Polk,3692806000.00,86085.00,42897.00,11.00,7826.00,7509699.15,87.24,682699.92,7.93,0.20
19,Tillamook,1240385000.00,27036.00,45879.00,11.00,2458.00,7356489.03,272.10,668771.73,24.74,0.59
18,Hood River,1316983000.00,23382.00,56325.00,6.00,3897.00,5034645.06,215.32,839107.51,35.89,0.38
20,Wasco,1163239000.00,26682.00,43596.00,5.00,5336.00,4537857.53,170.07,907571.51,34.01,0.39
22,Jefferson,866858000.00,24658.00,35155.00,5.00,4932.00,3884162.34,157.52,776832.47,31.50,0.45
25,Harney,309164000.00,7393.00,41818.00,2.00,3696.00,1681708.11,227.47,840854.06,113.74,0.54
24,Lake,340162000.00,7869.00,43228.00,2.00,3934.00,1257931.14,159.86,628965.57,79.93,0.37

In [28]:
avg_sale_per_dispo.sort_values("Percent of Sales over Income", ascending=False)

,County,Personal Income,Population,Per capita income ($),Dispensary Count,Population per Dispenary,Sales,Sales per Capita,Avg Sales per Dispensary,Avg Sale / Dispo / Capita,Percent of Sales over Income
23,Baker,685166000.00,16124.00,42494.00,4.00,4031.00,30174052.05,1871.38,7543513.01,467.84,4.40
21,Curry,1042502000.00,22925.00,45474.00,11.00,2084.00,8988198.90,392.07,817108.99,35.64,0.86
16,Lincoln,2294997000.00,49962.00,45935.00,24.00,2082.00,16927104.39,338.80,705296.02,14.12,0.74
17,Clatsop,1893791000.00,40224.00,47081.00,19.00,2117.00,12218496.84,303.76,643078.78,15.99,0.65
19,Tillamook,1240385000.00,27036.00,45879.00,11.00,2458.00,7356489.03,272.10,668771.73,24.74,0.59
25,Harney,309164000.00,7393.00,41818.00,2.00,3696.00,1681708.11,227.47,840854.06,113.74,0.54
0,Multnomah,49399774000.00,812855.00,60773.00,216.00,3763.00,227971779.28,280.46,1055424.90,1.30,0.46
14,Coos,2994046000.00,64487.00,46429.00,24.00,2687.00,13490127.66,209.19,562088.65,8.72,0.45
22,Jefferson,866858000.00,24658.00,35155.00,5.00,4932.00,3884162.34,157.52,776832.47,31.50,0.45
3,Lane,18087217000.00,382067.00,47340.00,82.00,4659.00,76406684.49,199.98,931788.84,2.44,0.42
5,Deschutes,11159204000.00,197692.00,56447.00,30.00,6590.00,43897085.12,222.05,1463236.17,7.40,0.39
20,Wasco,1163239000.00,26682.00,43596.00,5.00,5336.00,4537857.53,170.07,907571.51,34.01,0.39
18,Hood River,1316983000.00,23382.00,56325.00,6.00,3897.00,5034645.06,215.32,839107.51,35.89,0.38
24,Lake,340162000.00,7869.00,43228.00,2.00,3934.00,1257931.14,159.86,628965.57,79.93,0.37
6,Jackson,10669698000.00,220944.00,48291.00,48.00,4603.00,38287731.28,173.29,797661.07,3.61,0.36
13,Umatilla,3268316000.00,77950.00,41928.00,4.00,19488.00,11665990.12,149.66,2916497.53,37.41,0.36
4,Marion,15706672000.00,347818.00,45158.00,61.00,5702.00,55536765.42,159.67,910438.78,2.62,0.35
15,Columbia,2409293000.00,52354.00,46019.00,11.00,4759.00,8502053.25,162.40,772913.93,14.76,0.35
11,Josephine,3810451000.00,87487.00,43554.00,11.00,7953.00,12331177.75,140.95,1121016.16,12.81,0.32
7,Linn,5816653000.00,129749.00,44830.00,21.00,6179.00,17816271.95,137.31,848393.90,6.54,0.31
9,Douglas,4698282000.00,110980.00,42334.00,16.00,6936.00,14039923.51,126.51,877495.22,7.91,0.30
8,Yamhill,5086605000.00,107100.00,47494.00,12.00,8925.00,14714908.24,137.39,1226242.35,11.45,0.29
10,Benton,4534024000.00,93053.00,48725.00,15.00,6204.00,11290678.54,121.34,752711.90,8.09,0.25
1,Washington,38527576000.00,601592.00,64043.00,40.00,15040.00,79856029.61,132.74,1996400.74,3.32,0.21
12,Polk,3692806000.00,86085.00,42897.00,11.00,7826.00,7509699.15,87.24,682699.92,7.93,0.20
2,Clackamas,25812808000.00,418187.00,61726.00,30.00,13940.00,41266150.45,98.68,1375538.35,3.29,0.16

In [41]:
avg_sale_per_dispo.to_csv("output/2019_county_dispo_data_extended.csv", index=False)

In [25]:
first_set = set(county_per_cap_income_df["County"])
second_set = set(dispo_by_county["County"])
print(first_set - second_set)

{'Gilliam', 'Morrow', 'Union', 'Wheeler', 'Crook', 'Sherman'}

In [44]:
pd.set_option('precision', 6)

In [25]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [33]:
import matplotlib.pyplot as plt